@page
@model AuthAzureApp.Pages.CacheForRedis
@{
    ViewData["Title"] = "Display from cache";
}

<div class="text-body text-left">
    <h2>Add values in cache (List type), with expiry time = 30 sec: </h2>
    <form asp-page-handler="SetCache">
        <input type="text" asp-for="CacheKey" placeholder="Cache key"/>
        <input type="text" asp-for="CacheValue" placeholder="Cache value" />
        <input type="submit" />
    </form>

    <h2>Display values from cache (existing key: @CacheForRedis.c_cacheKey): </h2>
    <form asp-page-handler="Display">
        <input type="text" asp-for="CacheKeyDisplay" placeholder="Cache key" />
        <input type="submit" />
    </form>

    @if(Model.CachedValues == null)
    {
        <h1>No values!</h1>
    }
    else
    {
        <h2>From cache:</h2>
        @foreach (var val in Model.CachedValues!)
        {
            <p>@val</p>
        }       
    }
    
</div>
