@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>
<div>
    <h1>Staging Version</h1>
</div>
<div class="text-center">
    <h3 class="display-4">This is a list of Products</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                </tr>
            }

        </tbody>
    </table>
    
</div>
