@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">SignOut</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Login</a>
    </li>
}
</ul>
