<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Website" value="https://localhost:44350/test"/>
		<add key="Database" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=TestDB;Data Source=localhost\SQLEXPRESS"/>
	</appSettings>
</configuration>