@page
@model AuthAzureApp.Pages.DisplayBlobModel
@{
    ViewData["Title"] = "Display blob page";
}

<div class="text-body text-center">
    <h1>File Content:</h1>
    <p>@Model.FileContent</p>
</div>
